#!/usr/bin/env bash

set -e

if ! [ -x "$(command -v ipsec)" ];then
  echo "Please install strongswan first."
  exit -1
fi

if ! [ `whoami` == 'root' ];then
  echo "Please run this script with root."
  exit -1
fi

username={{username}}
hostname={{hostname}}
vpnname={{vpnname}}

base64 -d <<< '{{p12_base64}}' > /etc/ipsec.d/private/$username.p12
chmod 600 /etc/ipsec.d/private/$username.p12

base64 -d <<< '{{cacert_base64}}' > /etc/ipsec.d/cacerts/cacert.pem

cat << EOF > /etc/ipsec.secrets
# ipsec.secrets - strongSwan IPsec secrets file
# $vpnname
: P12 $username.p12 %prompt
EOF
chmod 600 /etc/ipsec.secrets


cat << EOF > /etc/ipsec.conf
# ipsec.conf - strongSwan IPsec configuration file
conn $vpnname
    fragmentation=yes
    rekey=no
    dpdaction=clear
    keyexchange=ikev2
    compress=no
    dpddelay=35s

    ike=aes256gcm16-prfsha512-ecp384,aes256-sha2_512-prfsha512-ecp384,aes256-sha2_384-prfsha384-ecp384!
    esp=aes256gcm16-ecp384,aes256-sha2_512-prfsha512-ecp384!

    right=$hostname
    rightid=$hostname
    rightsubnet=0.0.0.0/0
    rightauth=pubkey

    leftsourceip=%config
    leftauth=pubkey
    leftid=$username
    leftfirewall=yes
    left=%defaultroute

    auto=add
EOF

ipsec restart
sleep 2
ipsec reload
sleep 4
ipsec rereadall


echo "done"
echo "Now you can connect the VPN via: ipsec up $vpnname"
